In [1]:
''''In tis main file we do an initial explortation, we clean the data, and perfoirm EDA and vizualisation'''

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

import initial_exploration as explo
import data_cleaning as cl

%load_ext autoreload
%autoreload 2

pd.set_option('display.max_columns', None)

In [2]:
# Load datasets:
cash_requests = pd.read_csv('project_dataset/extract - cash request - data analyst.csv')
fees = pd.read_csv('project_dataset/extract - fees - data analyst - .csv')

In [3]:
cash_requests.head()

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN

In [4]:
# Inital exploration:
explo.check(cash_requests)

Number of columns: 16 amd rows: 23970

Data types:
id                              int64
amount                        float64
status                         object
created_at                     object
updated_at                     object
user_id                       float64
moderated_at                   object
deleted_account_id            float64
reimbursement_date             object
cash_request_received_date     object
money_back_date                object
transfer_type                  object
send_at                        object
recovery_status                object
reco_creation                  object
reco_last_update               object
dtype: object

Unique values count:
id                            23970
amount                           41
status                            7
created_at                    23970
updated_at                    23970
user_id                       10798
moderated_at                  16035
deleted_account_id             1141
reimbursement_date             4089
cash_request_received_date      312
money_back_date               12221
transfer_type                     2
send_at                       16641
recovery_status                   4
reco_creation                  3330
reco_last_update               3330
dtype: int64

This columns apear to be categroical:
 Index(['status', 'transfer_type', 'recovery_status'], dtype='object')

Unique value count for categorical columns:
status
money_back               16397
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

transfer_type
instant    13882
regular    10088
Name: count, dtype: int64

recovery_status
completed               2468
pending                  845
pending_direct_debit      16
cancelled                  1
Name: count, dtype: int64

Count of null values:
id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

Count of duplicated values:
0

In [6]:
cl.convert_dates(cash_requests, cl.cash_request_date_columns)

# Re-check and ensure correct data types in cash_requests:
cl.ensure_correct_data_types(cash_requests, cl.cash_request_date_columns)

cash_requests.head()

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-10-12,2019-11-12,804.0,2019-11-12,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT
1,70,100.0,rejected,2019-10-12,2019-11-12,231.0,2019-11-12,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT
2,7,100.0,rejected,2019-10-12,2019-11-12,191.0,2019-11-12,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT
3,10,99.0,rejected,2019-10-12,NaT,761.0,NaT,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT
4,1594,100.0,rejected,2020-06-05,2020-07-05,7686.0,2020-07-05,NaN,NaT,NaT,NaT,regular,NaT,NaN,NaT,NaT

In [7]:
explo.check(cash_requests)

Number of columns: 16 amd rows: 23970

Data types:
id                                     int64
amount                               float64
status                              category
created_at                    datetime64[ns]
updated_at                    datetime64[ns]
user_id                              float64
moderated_at                  datetime64[ns]
deleted_account_id                   float64
reimbursement_date            datetime64[ns]
cash_request_received_date    datetime64[ns]
money_back_date               datetime64[ns]
transfer_type                       category
send_at                       datetime64[ns]
recovery_status                     category
reco_creation                 datetime64[ns]
reco_last_update              datetime64[ns]
dtype: object

Unique values count:
id                            23970
amount                           41
status                            7
created_at                      125
updated_at                      160
user_id                       10798
moderated_at                    118
deleted_account_id             1141
reimbursement_date              131
cash_request_received_date      312
money_back_date                 126
transfer_type                     2
send_at                         104
recovery_status                   4
reco_creation                    88
reco_last_update                113
dtype: int64

This columns apear to be categroical:
 Index(['status', 'transfer_type', 'recovery_status'], dtype='object')

Unique value count for categorical columns:
status
money_back               16397
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

transfer_type
instant    13882
regular    10088
Name: count, dtype: int64

recovery_status
completed               2468
pending                  845
pending_direct_debit      16
cancelled                  1
Name: count, dtype: int64

Count of null values:
id                                0
amount                            0
status                            0
created_at                    15706
updated_at                    19522
user_id                        2103
moderated_at                  17533
deleted_account_id            21866
reimbursement_date            22333
cash_request_received_date     7681
money_back_date               15595
transfer_type                     0
send_at                        7504
recovery_status               20640
reco_creation                 22708
reco_last_update              22282
dtype: int64

Count of duplicated values:
0

In [8]:
fees.head()

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after

In [9]:
explo.check(fees)

Number of columns: 13 amd rows: 21061

Data types:
id                   int64
cash_request_id    float64
type                object
status              object
category            object
total_amount       float64
reason              object
created_at          object
updated_at          object
paid_at             object
from_date           object
to_date             object
charge_moment       object
dtype: object

Unique values count:
id                 21061
cash_request_id    12933
type                   3
status                 4
category               2
total_amount           2
reason             15149
created_at         21026
updated_at         21061
paid_at            15529
from_date           1084
to_date             1560
charge_moment          2
dtype: int64

This columns apear to be categroical:
 Index(['type', 'status', 'category', 'total_amount', 'charge_moment'], dtype='object')

Unique value count for categorical columns:
type
instant_payment    11099
postpone            7766
incident            2196
Name: count, dtype: int64

status
accepted     14841
cancelled     4938
rejected      1194
confirmed       88
Name: count, dtype: int64

category
rejected_direct_debit     1599
month_delay_on_payment     597
Name: count, dtype: int64

total_amount
5.0     21060
10.0        1
Name: count, dtype: int64

charge_moment
after     16724
before     4337
Name: count, dtype: int64

Count of null values:
id                     0
cash_request_id        4
type                   0
status                 0
category           18865
total_amount           0
reason                 0
created_at             0
updated_at             0
paid_at             5530
from_date          13295
to_date            13295
charge_moment          0
dtype: int64

Count of duplicated values:
0

In [10]:
cl.convert_dates(fees, cl.fees_data_date_columns)

# Re-check and ensure correct data types in cfees:
cl.ensure_correct_data_types(fees, cl.fees_data_date_columns)

fees.head()

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07,2020-10-13,2020-12-17,NaT,NaT,NaT
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09,2020-10-13,2020-12-08,NaT,NaT,NaT
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23,2020-10-23,2020-11-04,NaT,NaT,NaT
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31,2020-10-31,2020-11-19,NaT,NaT,NaT
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06,2020-10-13,2020-11-02,NaT,NaT,NaT

In [11]:
cl.rename_col(cash_requests, 'id', 'cash_request_id')
data_df = cl.merge_df(cash_requests, fees, 'outer', 'cash_request_id')
data_df = cl.rename_col_xy(data_df)
data_df.head(20)

,cash_request_id,amount,CR_status,CR_created_at,CR_updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,id,type,fee_status,category,total_amount,reason,fee_created_at,fee_updated_at,paid_at,from_date,to_date,charge_moment
0,3.0,1.0,canceled,NaT,NaT,47.0,NaT,NaN,NaT,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
1,4.0,100.0,money_back,2019-09-12,2020-04-11,NaN,NaT,1309.0,NaT,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
2,5.0,100.0,rejected,2019-10-12,2019-11-12,804.0,2019-11-12,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
3,6.0,100.0,direct_debit_rejected,2019-10-12,NaT,812.0,NaT,NaN,NaT,2019-12-11,NaT,regular,NaT,pending,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
4,7.0,100.0,rejected,2019-10-12,2019-11-12,191.0,2019-11-12,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
5,9.0,100.0,money_back,2019-10-12,2020-04-11,430.0,NaT,NaN,NaT,2019-12-11,NaT,regular,NaT,completed,NaT,2020-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
6,10.0,99.0,rejected,2019-10-12,NaT,761.0,NaT,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
7,11.0,100.0,money_back,2019-10-12,2020-04-11,735.0,2019-11-12,NaN,NaT,2019-12-12,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
8,13.0,100.0,direct_debit_rejected,2019-10-12,2020-04-11,406.0,2019-11-12,NaN,NaT,2019-12-12,NaT,regular,NaT,pending,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
9,28.0,100.0,money_back,2019-10-12,2020-04-11,140.0,2019-11-12,NaN,NaT,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
10,34.0,100.0,money_back,2019-10-12,2020-04-11,1145.0,2019-11-12,NaN,NaT,2019-12-11,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
11,47.0,100.0,direct_debit_rejected,2019-10-12,NaT,83.0,2019-11-12,NaN,NaT,2019-12-10,NaT,regular,NaT,pending,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
12,48.0,100.0,money_back,2019-10-12,2020-04-11,816.0,NaT,NaN,NaT,2019-12-20,2020-12-04,regular,NaT,completed,NaT,2020-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
13,49.0,30.0,money_back,2019-10-12,2020-04-11,984.0,2019-11-12,NaN,NaT,2019-12-12,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
14,70.0,100.0,rejected,2019-10-12,2019-11-12,231.0,2019-11-12,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
15,71.0,90.0,rejected,2019-10-12,2019-12-12,897.0,2019-12-12,NaN,NaT,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
16,72.0,100.0,money_back,2019-10-12,2020-04-11,895.0,NaT,NaN,NaT,2019-12-12,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
17,73.0,100.0,money_back,2019-10-12,2020-04-11,227.0,2019-11-12,NaN,NaT,2019-12-12,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
18,74.0,10.0,direct_debit_rejected,2019-10-12,NaT,520.0,NaT,NaN,NaT,2019-12-20,NaT,regular,NaT,pending,2020-07-04,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
19,77.0,80.0,money_back,2019-10-12,2020-04-11,NaN,NaT,4217.0,NaT,2019-12-12,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT

In [14]:
data_df.sample(10)

,cash_request_id,amount,CR_status,CR_created_at,CR_updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,id,type,fee_status,category,total_amount,reason,fee_created_at,fee_updated_at,paid_at,from_date,to_date,charge_moment
26244,21624.0,100.0,direct_debit_rejected,NaT,NaT,73788.0,NaT,NaN,NaT,2020-10-19,NaT,instant,2020-10-16,pending,NaT,NaT,16281.0,postpone,accepted,NaN,5.0,Postpone Cash Request 21624,2020-10-23,2020-10-23,2020-10-23,2020-11-05,2020-11-14,NaT
18940,16225.0,100.0,money_back,NaT,NaT,41946.0,NaT,NaN,NaT,2020-09-16,NaT,instant,2020-09-22,NaN,NaT,NaT,9973.0,postpone,accepted,NaN,5.0,Postpone Cash Request 16225,2020-09-29,2020-10-13,2020-09-29,NaT,2020-10-12,NaT
21372,17957.0,50.0,money_back,NaT,2021-04-02,49603.0,NaT,NaN,2020-10-10,2020-09-29,2021-04-02,instant,2020-10-03,completed,NaT,2021-04-02,15706.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-10-21,2020-10-21,2021-02-04,NaT,NaT,NaT
659,731.0,100.0,money_back,NaT,2020-04-11,2539.0,NaT,NaN,NaT,2020-02-27,2020-10-03,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
11021,10515.0,100.0,money_back,2020-01-08,NaT,10667.0,2020-02-08,NaN,2020-08-09,2020-08-03,2020-09-09,instant,2020-08-08,NaN,NaT,NaT,4175.0,postpone,accepted,NaN,5.0,Postpone Cash Request 10515,2020-08-17,2020-10-13,2020-08-17,2020-08-29,NaT,NaT
31293,26139.0,100.0,money_back,NaT,NaT,34660.0,NaT,NaN,NaT,2020-10-30,2020-02-12,instant,2020-10-29,NaN,NaT,NaT,19787.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26139,2020-10-29,2020-10-29,2020-12-02,NaT,NaT,NaT
18081,15589.0,100.0,money_back,2020-10-09,NaT,19730.0,NaT,NaN,NaT,2020-09-12,2020-05-11,instant,2020-09-17,NaN,NaT,NaT,10670.0,postpone,accepted,NaN,5.0,Postpone Cash Request 15589,2020-10-03,2020-10-13,2020-10-03,2020-10-12,2020-11-05,NaT
14567,12986.0,100.0,money_back,NaT,NaT,27985.0,NaT,NaN,2020-01-09,2020-08-27,NaT,regular,2020-08-25,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
27621,22746.0,100.0,money_back,NaT,NaT,11783.0,NaT,NaN,NaT,2020-10-22,2020-04-11,instant,2020-10-21,NaN,NaT,NaT,15479.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 22746,2020-10-21,2020-10-21,2020-11-04,NaT,NaT,NaT
30611,25473.0,100.0,money_back,NaT,NaT,25789.0,NaT,NaN,NaT,2020-10-29,2020-07-11,instant,2020-10-28,NaN,NaT,NaT,18977.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 25473,2020-10-28,2020-10-28,2020-11-07,NaT,NaT,NaT

In [15]:
cl.rename_col(data_df, 'id', 'id_fee')
cl.clean_text_column(data_df, "reason")
explo.check(data_df)

Number of columns: 28 amd rows: 32098

Data types:
cash_request_id                      float64
amount                               float64
CR_status                           category
CR_created_at                 datetime64[ns]
CR_updated_at                 datetime64[ns]
user_id                              float64
moderated_at                  datetime64[ns]
deleted_account_id                   float64
reimbursement_date            datetime64[ns]
cash_request_received_date    datetime64[ns]
money_back_date               datetime64[ns]
transfer_type                       category
send_at                       datetime64[ns]
recovery_status                     category
reco_creation                 datetime64[ns]
reco_last_update              datetime64[ns]
id_fee                               float64
type                                category
fee_status                          category
category                            category
total_amount                         float64
reason                                object
fee_created_at                datetime64[ns]
fee_updated_at                datetime64[ns]
paid_at                       datetime64[ns]
from_date                     datetime64[ns]
to_date                       datetime64[ns]
charge_moment                 datetime64[ns]
dtype: object

Unique values count:
cash_request_id               23970
amount                           41
CR_status                         7
CR_created_at                   125
CR_updated_at                   160
user_id                       10798
moderated_at                    118
deleted_account_id             1141
reimbursement_date              131
cash_request_received_date      312
money_back_date                 126
transfer_type                     2
send_at                         104
recovery_status                   4
reco_creation                    88
reco_last_update                113
id_fee                        21061
type                              3
fee_status                        4
category                          2
total_amount                      2
reason                            4
fee_created_at                  157
fee_updated_at                   34
paid_at                         229
from_date                       185
to_date                         193
charge_moment                     0
dtype: int64

This columns apear to be categroical:
 Index(['CR_status', 'transfer_type', 'recovery_status', 'type', 'fee_status',
       'category', 'total_amount', 'reason', 'charge_moment'],
      dtype='object')

Unique value count for categorical columns:
CR_status
money_back               23270
rejected                  6568
direct_debit_rejected     1941
active                     158
direct_debit_sent           74
transaction_declined        48
canceled                    35
Name: count, dtype: int64

transfer_type
instant    19488
regular    12606
Name: count, dtype: int64

recovery_status
completed               5167
pending                 1996
pending_direct_debit      36
cancelled                  1
Name: count, dtype: int64

type
instant_payment    11099
postpone            7766
incident            2196
Name: count, dtype: int64

fee_status
accepted     14841
cancelled     4938
rejected      1194
confirmed       88
Name: count, dtype: int64

category
rejected_direct_debit     1599
month_delay_on_payment     597
Name: count, dtype: int64

total_amount
5.0     21060
10.0        1
Name: count, dtype: int64

reason
Instant Payment Cash Request    11099
Postpone Cash Request            7766
rejected direct debit            1599
month delay on payment            597
Name: count, dtype: int64

Series([], Name: count, dtype: int64)

Count of null values:
cash_request_id                   4
amount                            4
CR_status                         4
CR_created_at                 20435
CR_updated_at                 26753
user_id                        2576
moderated_at                  23012
deleted_account_id            29525
reimbursement_date            29949
cash_request_received_date     7949
money_back_date               20345
transfer_type                     4
send_at                        9728
recovery_status               24898
reco_creation                 29131
reco_last_update              28259
id_fee                        11037
type                          11037
fee_status                    11037
category                      29902
total_amount                  11037
reason                        11037
fee_created_at                11037
fee_updated_at                11037
paid_at                       16660
from_date                     25349
to_date                       25586
charge_moment                 32098
dtype: int64

Count of duplicated values:
0

In [16]:
data_df = cl.remove_nan(data_df, "cash_request_id")
explo.check_null(data_df)

4 rows were removed

Count of null values:
cash_request_id                   0
amount                            0
CR_status                         0
CR_created_at                 20431
CR_updated_at                 26749
user_id                        2572
moderated_at                  23008
deleted_account_id            29521
reimbursement_date            29945
cash_request_received_date     7945
money_back_date               20341
transfer_type                     0
send_at                        9724
recovery_status               24894
reco_creation                 29127
reco_last_update              28255
id_fee                        11037
type                          11037
fee_status                    11037
category                      29898
total_amount                  11037
reason                        11037
fee_created_at                11037
fee_updated_at                11037
paid_at                       16656
from_date                     25345
to_date                       25582
charge_moment                 32094
dtype: int64

In [17]:
data_df = cl.drop_col(data_df, ["id_fee", "category"])
data_df.head(10)

,cash_request_id,amount,CR_status,CR_created_at,CR_updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,type,fee_status,total_amount,reason,fee_created_at,fee_updated_at,paid_at,from_date,to_date,charge_moment
0,3.0,1.0,canceled,NaT,NaT,47.0,NaT,NaN,NaT,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
1,4.0,100.0,money_back,2019-09-12,2020-04-11,NaN,NaT,1309.0,NaT,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
2,5.0,100.0,rejected,2019-10-12,2019-11-12,804.0,2019-11-12,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
3,6.0,100.0,direct_debit_rejected,2019-10-12,NaT,812.0,NaT,NaN,NaT,2019-12-11,NaT,regular,NaT,pending,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
4,7.0,100.0,rejected,2019-10-12,2019-11-12,191.0,2019-11-12,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
5,9.0,100.0,money_back,2019-10-12,2020-04-11,430.0,NaT,NaN,NaT,2019-12-11,NaT,regular,NaT,completed,NaT,2020-12-05,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
6,10.0,99.0,rejected,2019-10-12,NaT,761.0,NaT,NaN,2020-09-01,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
7,11.0,100.0,money_back,2019-10-12,2020-04-11,735.0,2019-11-12,NaN,NaT,2019-12-12,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
8,13.0,100.0,direct_debit_rejected,2019-10-12,2020-04-11,406.0,2019-11-12,NaN,NaT,2019-12-12,NaT,regular,NaT,pending,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT
9,28.0,100.0,money_back,2019-10-12,2020-04-11,140.0,2019-11-12,NaN,NaT,NaT,NaT,regular,NaT,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT,NaT,NaT

In [18]:
explo.check_null(data_df)

Count of null values:
cash_request_id                   0
amount                            0
CR_status                         0
CR_created_at                 20431
CR_updated_at                 26749
user_id                        2572
moderated_at                  23008
deleted_account_id            29521
reimbursement_date            29945
cash_request_received_date     7945
money_back_date               20341
transfer_type                     0
send_at                        9724
recovery_status               24894
reco_creation                 29127
reco_last_update              28255
type                          11037
fee_status                    11037
total_amount                  11037
reason                        11037
fee_created_at                11037
fee_updated_at                11037
paid_at                       16656
from_date                     25345
to_date                       25582
charge_moment                 32094
dtype: int64

In [19]:
frames = cl.selecting_data_types(data_df)
num = frames[1]
cat = frames[0]
date = frames[2]

In [20]:
num.head()

   amount
0     1.0
1   100.0
2   100.0
3   100.0
4   100.0

In [21]:
explo.check_null(num)

Count of null values:
amount    0
dtype: int64

In [22]:
cat.head()

,CR_status,transfer_type,recovery_status,type,fee_status,reason,total_amount
0,canceled,regular,NaN,NaN,NaN,NaN,NaN
1,money_back,regular,NaN,NaN,NaN,NaN,NaN
2,rejected,regular,NaN,NaN,NaN,NaN,NaN
3,direct_debit_rejected,regular,pending,NaN,NaN,NaN,NaN
4,rejected,regular,NaN,NaN,NaN,NaN,NaN

In [23]:
explo.check_null(cat)

Count of null values:
CR_status              0
transfer_type          0
recovery_status    24894
type               11037
fee_status         11037
reason             11037
total_amount       11037
dtype: int64

In [27]:
date.head()

,CR_created_at,CR_updated_at,moderated_at,reimbursement_date,cash_request_received_date,money_back_date,send_at,reco_creation,reco_last_update,fee_created_at,fee_updated_at,paid_at,from_date,to_date,charge_moment
0,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1,2019-09-12,2020-04-11,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
2,2019-10-12,2019-11-12,2019-11-12,2020-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
3,2019-10-12,NaT,NaT,NaT,2019-12-11,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
4,2019-10-12,2019-11-12,2019-11-12,2020-09-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [25]:
explo.check_null(date)

Count of null values:
CR_created_at                 20431
CR_updated_at                 26749
moderated_at                  23008
reimbursement_date            29945
cash_request_received_date     7945
money_back_date               20341
send_at                        9724
reco_creation                 29127
reco_last_update              28255
fee_created_at                11037
fee_updated_at                11037
paid_at                       16656
from_date                     25345
to_date                       25582
charge_moment                 32094
dtype: int64

In [ ]:
# Verify specific date columns' data types in cash_requests:
print("\nCheck data types of date columns:")
print(cash_requests[['created_at', 'updated_at', 'moderated_at', 'reimbursement_date', 
                     'cash_request_received_date', 'money_back_date', 'send_at', 'reco_creation', 'reco_last_update']].dtypes)

# Check for any NaT in date columns:
print("\nCheck NaT (missing values) in date columns:")
print(cash_requests[['created_at', 'updated_at', 'moderated_at', 'reimbursement_date', 
                     'cash_request_received_date', 'money_back_date', 'send_at', 'reco_creation', 'reco_last_update']].isna().sum())

Check data types of date columns:
created_at                    datetime64[ns]
updated_at                    datetime64[ns]
moderated_at                  datetime64[ns]
reimbursement_date            datetime64[ns]
cash_request_received_date    datetime64[ns]
money_back_date               datetime64[ns]
send_at                       datetime64[ns]
reco_creation                 datetime64[ns]
reco_last_update              datetime64[ns]
dtype: object

Check NaT (missing values) in date columns:
created_at                        0
updated_at                        0
moderated_at                   8058
reimbursement_date            20920
cash_request_received_date     7681
money_back_date               11930
send_at                        7504
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [32]:
df_time_between_CR_and_money_back = cl.process_date_columns(date, "CR_created_at", "money_back_date")
df_time_between_CR_and_money_back.head()

    CR_created_at money_back_date  days_difference
12     2019-10-12      2020-12-04              419
42     2019-12-12      2020-02-07               57
52     2019-12-12      2020-10-08              301
63     2019-12-12      2020-09-07              270
306    2020-05-01      2020-02-04               87

In [33]:
explo.check(df_time_between_CR_and_money_back)

Number of columns: 3 amd rows: 3861

Data types:
CR_created_at      datetime64[ns]
money_back_date    datetime64[ns]
days_difference             int64
dtype: object

Unique values count:
CR_created_at      108
money_back_date    115
days_difference    146
dtype: int64

This columns apear to be categroical:
 Index([], dtype='object')

Unique value count for categorical columns:
Count of null values:
CR_created_at      0
money_back_date    0
days_difference    0
dtype: int64

Count of duplicated values:
2928

In [37]:
df_time_between_fee_created_and_paid_at_date = cl.process_date_columns(date, "fee_created_at", "paid_at")
df_time_between_fee_created_and_paid_at_date.head(20)

     fee_created_at    paid_at  days_difference
1481     2020-07-01 2020-07-01                0
1557     2020-07-15 2020-08-06               22
1590     2020-09-13 2020-12-07               85
1591     2020-10-14 2020-12-07               54
1592     2020-08-15 2020-12-07              114
1593     2020-07-15 2020-12-07              145
1681     2020-06-28 2020-06-28                0
1689     2020-06-23 2020-06-23                0
1710     2020-07-04 2020-07-07                3
1773     2020-07-14 2020-07-14                0
1800     2020-07-08 2020-07-08                0
1823     2020-10-14 2020-12-15               62
1824     2020-07-16 2020-12-15              152
1825     2020-09-14 2020-12-15               92
1826     2020-08-15 2020-12-15              122
1940     2020-07-08 2020-08-06               29
1976     2020-06-23 2020-06-23                0
1978     2020-06-23 2020-06-23                0
2046     2020-07-16 2020-09-15               61
2047     2020-08-15 2020-09-15               31

In [38]:
explo.check(df_time_between_fee_created_and_paid_at_date)

Number of columns: 3 amd rows: 15438

Data types:
fee_created_at     datetime64[ns]
paid_at            datetime64[ns]
days_difference             int64
dtype: object

Unique values count:
fee_created_at     132
paid_at            229
days_difference    165
dtype: int64

This columns apear to be categroical:
 Index([], dtype='object')

Unique value count for categorical columns:
Count of null values:
fee_created_at     0
paid_at            0
days_difference    0
dtype: int64

Count of duplicated values:
11315

In [ ]:
# We can divide the columns between us and ecah work in a set of columns performing an 
# univariate analysis (frequency plots, box plots, doughnut, histograms   or any other you concider)
#For numercial plots also create report in mean , meadian, std, and arrive to conclusions